src/META-INF/wsdl/localhost_8080/Scigenchecker_V1.3/Checker.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><xs:schema xmlns:tns="http://checker/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://checker/">

<xs:element name="downloadresult" type="tns:downloadresult" />

<xs:element name="downloadresultResponse" type="tns:downloadresultResponse" />

<xs:element name="hello" type="tns:hello" />

<xs:element name="helloResponse" type="tns:helloResponse" />

<xs:element name="upload" type="tns:upload" />

<xs:element name="uploadResponse" type="tns:uploadResponse" />

<xs:complexType name="upload">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0" />
<xs:element name="arg1" type="xs:base64Binary" nillable="true" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="uploadResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="downloadresult">
<xs:sequence />
</xs:complexType>

<xs:complexType name="downloadresultResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="hello">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="helloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>
</xs:schema>