src/META-INF/wsdl/localhost_8080/Scigenchecker_V1.4/Checker.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://checker/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://checker/" name="Checker">
<types>
<xsd:schema>
<xsd:import namespace="http://checker/" schemaLocation="http://localhost:8080/Scigenchecker_V1.4/Checker?xsd=1" />
</xsd:schema>
</types>
<message name="downloadresult">
<part name="parameters" element="tns:downloadresult" />
</message>
<message name="downloadresultResponse">
<part name="parameters" element="tns:downloadresultResponse" />
</message>
<message name="hello">
<part name="parameters" element="tns:hello" />
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse" />
</message>
<message name="upload">
<part name="parameters" element="tns:upload" />
</message>
<message name="uploadResponse">
<part name="parameters" element="tns:uploadResponse" />
</message>
<portType name="Checker">
<operation name="downloadresult">
<input wsam:Action="http://checker/Checker/downloadresultRequest" message="tns:downloadresult" />
<output wsam:Action="http://checker/Checker/downloadresultResponse" message="tns:downloadresultResponse" />
</operation>
<operation name="hello">
<input wsam:Action="http://checker/Checker/helloRequest" message="tns:hello" />
<output wsam:Action="http://checker/Checker/helloResponse" message="tns:helloResponse" />
</operation>
<operation name="upload">
<input wsam:Action="http://checker/Checker/uploadRequest" message="tns:upload" />
<output wsam:Action="http://checker/Checker/uploadResponse" message="tns:uploadResponse" />
</operation>
</portType>
<binding name="CheckerPortBinding" type="tns:Checker">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="downloadresult">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="hello">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="upload">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="Checker">
<port name="CheckerPort" binding="tns:CheckerPortBinding">
<soap:address location="http://localhost:8080/Scigenchecker_V1.4/Checker" />
</port>
</service>
</definitions>