src/META-INF/wsdl/localhost_8080/test4/check.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><xs:schema xmlns:tns="http://checker/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://checker/">

<xs:element name="Getworkingpath" type="tns:Getworkingpath" />

<xs:element name="GetworkingpathResponse" type="tns:GetworkingpathResponse" />

<xs:element name="checkpdf" type="tns:checkpdf" />

<xs:element name="checkpdfResponse" type="tns:checkpdfResponse" />

<xs:element name="hello" type="tns:hello" />

<xs:element name="helloResponse" type="tns:helloResponse" />

<xs:complexType name="Getworkingpath">
<xs:sequence />
</xs:complexType>

<xs:complexType name="GetworkingpathResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="hello">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="helloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="checkpdf">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0" />
<xs:element name="content" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="checkpdfResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>
</xs:schema>