src/META-INF/wsdl/localhost_8080/test4/check.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://checker/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://checker/" name="check">
<types>
<xsd:schema>
<xsd:import namespace="http://checker/" schemaLocation="http://localhost:8080/test4/check?xsd=1" />
</xsd:schema>
</types>
<message name="checkpdf">
<part name="parameters" element="tns:checkpdf" />
</message>
<message name="checkpdfResponse">
<part name="parameters" element="tns:checkpdfResponse" />
</message>
<message name="Getworkingpath">
<part name="parameters" element="tns:Getworkingpath" />
</message>
<message name="GetworkingpathResponse">
<part name="parameters" element="tns:GetworkingpathResponse" />
</message>
<message name="hello">
<part name="parameters" element="tns:hello" />
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse" />
</message>
<portType name="check">
<operation name="checkpdf">
<input wsam:Action="http://checker/check/checkpdfRequest" message="tns:checkpdf" />
<output wsam:Action="http://checker/check/checkpdfResponse" message="tns:checkpdfResponse" />
</operation>
<operation name="Getworkingpath">
<input wsam:Action="http://checker/check/GetworkingpathRequest" message="tns:Getworkingpath" />
<output wsam:Action="http://checker/check/GetworkingpathResponse" message="tns:GetworkingpathResponse" />
</operation>
<operation name="hello">
<input wsam:Action="http://checker/check/helloRequest" message="tns:hello" />
<output wsam:Action="http://checker/check/helloResponse" message="tns:helloResponse" />
</operation>
</portType>
<binding name="checkPortBinding" type="tns:check">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="checkpdf">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="Getworkingpath">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="hello">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="check">
<port name="checkPort" binding="tns:checkPortBinding">
<soap:address location="http://localhost:8080/test4/check" />
</port>
</service>
</definitions>